.mainHomeContainer {
  position: relative;
}

.homeNav {
  background-color: var(--mainbgcolor);
}
.homeNav p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  padding: 10px;
}
.homeNavSecondThirdWrapper {
  padding: 0px 70px;
  background: linear-gradient(to bottom, #e7f0ff 85%, #ffff 10%);
  height: max-content;
  position: relative;
}
@media (width <= 768px) {
  .homeNavSecondThirdWrapper {
    padding: 0px 20px;
  }
}
.homeNavSecond {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
.medifyImage {
  width: 6rem;
  height: auto;
}
.homeNavSecondList {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.homeNavSecondList li:hover {
  cursor: pointer;
}
.homeNavSecondList button {
  background-color: var(--mainbgcolor);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 7px 20px;
}
.homeNavSecondListSmall {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.homeNavSecondListSmall li {
  border-bottom: 1px solid rgb(122, 122, 122);
  width: 100%;
  text-align: center;
}
.homeNavSecondListSmall li:hover {
  cursor: pointer;
}
.homeNavSecondListSmall button {
  background-color: var(--mainbgcolor);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 7px 20px;
}
.homeNavThird {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
@media screen and (max-width: 1142px) {
  .homeNavThird {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .subHomeNavThird {
    padding-top: 20px !important;
  }
  .homeNavThird > img {
    width: 60% !important;
  }
}
.subHomeNavThird {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 20px;
}
.subHomeNavThird > p {
  font-family: "Poppins", sans-serif;
  color: #102851;
  font-size: large;
}
.subHomeNavThird > p > span {
  font-family: "Poppins", sans-serif;
  color: #102851;
  font-weight: 700;
  font-size: 3rem;
}
.subHomeNavThird > p:nth-child(2) {
  color: #5c6169;
}
.subHomeNavThird button {
  background-color: var(--mainbgcolor);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: large;
  width: max-content;
}
.homeNavThird > img {
  width: 40%;
  height: max-content;
}
.stateCitySearchDiv {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  /* bottom: 20rem; */
  flex-direction: column;
  width: 100%;
  gap: 5rem;
  border-radius: 5px;
  box-shadow: 6px 6px 35px grey;
  box-sizing: border-box;
  padding: 50px;
}
.stateCitySearchSubOne {
  display: flex;
  justify-content: space-evenly;
  /*
  flex-wrap: wrap;
  gap: 5rem; */
}
.stateCustomInput {
  color: grey;
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  border: 1px solid #dfdfdf;
  padding: 0px 10px;
  width: 30%;
  border-radius: 4px;
}
.stateCustomInput > select {
  border: none;
  outline: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: #5c6169;
  width: 100%;
}

.stateCustomInput > img {
  height: max-content;
}
.stateCustomInput > select:focus {
  border: none;
  outline: none;
}
.stateCitySearchSubOne > button {
  display: flex;
  align-items: center;
  background-color: var(--mainbgcolor);
  border: none;
  border-radius: 4px;
  color: white;
  gap: 10px;
  padding: 7px 20px;
  width: max-content;
}
.stateCitySearchSubTwo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stateCitySearchSubTwo > p {
  color: #102851;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}
.stateCitySearchIconsWrapper {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.stateCitySearchIconsWrapper img {
  width: 5rem;
}
.stateCitySearchIconsWrapper p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  opacity: 50%;
}
/* check line no 306 */
@media (width<=1290px) {
  .stateCitySearchIconsWrapper {
    gap: 2rem;
  }
  .stateCitySearchDiv {
    gap: 2rem;
  }
}
.iconClicked {
  padding: 30px;
  background-color: #def1ff;
}
.doctorIcon {
  border: 1px solid #f3f6ff;
  padding: 25px;
  background-color: #f3f6ff;
}
.labIcon {
  border: 1px solid #f3f6ff;

  padding: 30px;
  background-color: #f3f6ff;
}
.hospitalIcon {
  border: 1px solid #f3f6ff;

  padding: 30px;
  background-color: #f3f6ff;
}
.medicalIcon {
  border: 1px solid #f3f6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f3f6ff;
}
.ambulanceIcon {
  border: 1px solid #f3f6ff;

  padding: 30px;
  background-color: #f3f6ff;
}
.commonForLookingIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7.1rem;
}
.specialization {
  background: linear-gradient(to left, #e7f0ff, #e8f1ff78);
  padding: 50px 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
}
.specialization > p {
  font-family: var(--fontFamily);
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .specialization {
    gap: 20px;
    padding: 50px 20px;
  }
  .specialization > p {
    font-size: 2rem;
  }
}
.SubSpecialization {
  display: flex;
  gap: 30px;
  padding: 0px 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.SubSpecialization > div {
  background-color: white;
  box-shadow: 0px 0px 13px gray;
  padding: 10px 50px;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media (width<=768px) {
  .stateCitySearchIconsWrapper img {
    width: 2rem;
  }
  .SubSpecialization > div {
    width: 5rem;
    padding: 10px 20px;
  }
  .SubSpecialization {
    padding: 0px 20px;
  }
  .commonForLookingIcon {
    padding: 1rem !important;
  }
}
@media screen and (max-width: 768px) {
  .homeNav p {
    font-size: x-small;
  }
}

.smallUlListShow {
  position: absolute;
  max-height: 10rem;
  width: max-content;
  padding: 10px;
  transform: translate(-80%);
  border: 1px solid var(--mainbgcolor);
  overflow: scroll;
  background-color: #ffff;
  /* transition: max-height 400ms ease-in-out, border 400ms ease-in-out,
    padding 400ms ease-in-out; */
  transition: all 400ms ease-in-out;
}
.smallUlListHide {
  position: absolute;
  max-height: 0rem;
  width: max-content;
  transform: translate(-80%);
  border: 1px solid transparent;
  overflow: hidden;
  padding: 0px;
  transition: all 400ms ease-in-out;
  /* transition: max-height 400ms ease-in-out, border 400ms ease-in-out,
    padding 400ms ease-in-out; */
}

@media (max-width: 971px) {
  .stateCitySearchSubOne {
    gap: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .stateCustomInput {
    width: 70%;
  }
  .stateCitySearchDiv {
    gap: 20px;
  }
}
